*{
    margin;0
    padding:0
}
.navbar-top{
    width:100%;
    height:32px;
    background-color: #a5aab1;
    
}
.download{
    width: 168.13px;
    height: 31px;
    
    float: left;

}
.download p{
 
    font-size: 12px;
    /* margin: 0px 0px 0px 4px; */

 margin-top: 8PX;
    margin-bottom: 0PX;
    margin-right: 10px;
    margin-left:20px;
/* padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 4px; */
    color: crimson;
    
}
.menu-top{
font-size: 12px;
    width: 533px;
        height: 31px;
        border: 1px black solid;
    float: right;
    

}
.menu-top ul li{
    float: left ;
   margin-right: 20px;
   margin-top: -4px;
   list-style: none;
   border: 1px black solid;
   
   
}

.menu-top ul li a {
    text-decoration: none;
    color: black;
}
,.menu-top ul {
    padding-top: -50px;
    border: 1px black solid;
}
.navbar-top-middle{
    width:100%;
    height:52px;
    background-color: rgb(236, 236, 236);
    border: 1px black solid;
}
.tokopedia{
    width: 145px;
    height: 35px;
    float: left;
    border: 1px black solid;
    margin-right: 20px;
    margin-top: 5px;
    
}

.tokopedia img{
margin-top: 10px;
}
.kategori{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 0px;
    border: 1px black solid;
    float:left;
   }
    
   .search {
    width: 783px;
    height: 35px;
    border: 1px rgb(230, 5, 5) solid;
    margin-left: 50px;
    float: left;
    margin-top: 8px;

   }
   .search .inputan{
    width: 720px;
    height: 30px;
    border-radius: 10px;
   }
   .search .tombol
   {
    width: 32px;
    height: 35px;
    border: 1px rgb(38, 160, 65) solid;
    border-radius: 10px;
   }
   .troli{
    width: 32px;
    height: 35px;
    border: 1px red solid;
    float: left;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 30px;  
 }
.troli img{
    width: 32px;
    height: 35px;
    border-radius: 10px;
}
.menu-login{
   font-size: 10px;
    width: 150px;
    height: 35px;
    border: 1px blue solid;
    float: right;
    margin-top: 8px;
   
}
.menu-login ul li{
    width: 30px;
    height: 20px;
    margin-right: 20px;
        list-style: none;
        float: left;
    border: 1px rgb(32, 31, 31) solid;
    
}
.menu-login ul li a{
    width: 30px;
    height: 30px;
    
    
    text-decoration: none;
    color: black;

}
   
.navbar-menu{
    width:100%;
    height:20px;
    background-color: rgb(236, 236, 236);
    border: 1px black solid;
}
.daftar-menu{
    font-size: 12px;
    width: 607px;
        height: 18px;
        border: 1px black solid;
    
}
.daftar-menu ul li{
    float: left ;
    margin-right: 20px;
    margin-top: -14px;
    list-style: none;
    border: 1px black solid;
    
}
.daftar-menu ul li a{
    text-decoration: none;
    color: black;
}

.navslide-menu{
    width:100%;
    height: 350px;
    border: 1px black solid;
    background-color: cadetblue;
    font-size: 50px;
}
.slide-bar img{
    width: 30%;
    height: 20%;
   
    border: 1px rgb(230, 5, 5) solid;
    
     
}
.navkategori-menu {
    width: 1208px;
    height: 296px;
    border: 5px rgb(230, 5, 5) solid;
    margin-left: 50px;
    float: left;
    margin-top: 8px;
    border-radius: 15px;
}
.navkategori-menu p{
    width: 150px;
    height: 40px;

    font-size: 20px;
    border: 1px black solid;
    float: left;
}